body {
    font-family: $mainFont;
    background-color: #f4f0f0;
}


/* Hidding */
.no-mobile{
    @include mobile-i {
        display: none!important;
    }
}
.no-tablet{
    @include tablet-i {
        display: none!important;
    }
}