// Body
$body-bg: #fff;

// Typography
$logoFont: 'Sansita Swashed', cursive;
$headingFont: 'Heebo', sans-serif;
$mainFont: 'Inter', serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$white: #fff;
$black: #000;
$accent: #890022;
$accent2: #610119;
$lightAccent: #efc3c3;
$blue: #890022;

// Tamaños Media Queries
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopXL: 1450px;
