.logo-footer{
    width: 200px;
}
.icon-footer{
    width: 50px;
}
.btn-footer .btn {
    display: flex;
    align-items: center;
    border-radius: 30px;
}
.btn-instagram i, .btn-facebook i, .btn-twitter i {
    font-size: 16px;
}