@use "../base/mixins" as m;

/* Branding */
.logotype {
    width: 110px;
    height: auto;
}
.logoicon {
    width: 18px;
    height: auto;
    margin-right: 10px;
    @include m.tablet {
        width: 20px;
    }
}

/* Backgrounds */
.bg-accent {
    background-color: $accent;
    color: $white;
    transition: 0.2s all ease;
}
.bg-glass {
    background-color: #ffffffba;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.bg-light-accent {
    background-color: $lightAccent;
}

/* Buttons */
.btn.bg-accent {
    &:hover {
        background-color: $accent2;
        opacity: 0.9;
        color: $white;
    }
}
.btn {
    .btn-flat {
        border-radius: 0rem !important;
    }
}
.btn-instagram {
    color: $white !important;
    background: #f09433;
    background: -moz-linear-gradient(
        45deg,
        #f09433 0%,
        #e6683c 25%,
        #dc2743 50%,
        #cc2366 75%,
        #bc1888 100%
    );
    background: -webkit-linear-gradient(
        45deg,
        #f09433 0%,
        #e6683c 25%,
        #dc2743 50%,
        #cc2366 75%,
        #bc1888 100%
    );
    background: linear-gradient(
        45deg,
        #f09433 0%,
        #e6683c 25%,
        #dc2743 50%,
        #cc2366 75%,
        #bc1888 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    border-width: 0px;
    transition: 0.2s all ease;
    opacity: 1;
    &:hover {
        opacity: 0.9;
    }
}
.btn-twitter {
    color: $white !important;
    background-color: #1da1f2;
    transition: 0.2s all ease;
    opacity: 1;
    &:hover {
        opacity: 0.9;
    }
}
.btn-facebook {
    color: $white !important;
    background-color: #3b5998;
    transition: 0.2s all ease;
    opacity: 1;
    &:hover {
        opacity: 0.9;
    }
}

/* Navigation */
.nav-link.bg-accent {
    &:hover {
        background-color: $accent2 !important;
        color: $white !important;
    }
}

/* Texts */
.text-accent {
    color: $accent;

    &:hover {
        color: $accent2;
    }
}
